p {
    color:slategrey;
    background-color: whitesmoke;
    border-style: groove;
    border-color: black;
}

.navbar {
    position:relative;
}

.box {
    width:400px;
    color:black;
    position:absolute;
}


body{
    display:flex;
    justify-content:center;
    align-items:center;
    min-height:100vh;
    background:url('background.jpg') no-repeat;
    background-position:center;
    background-size: cover;
}

.image {
    border:none;
    position:absolute;
    margin-bottom: 70%;
}