p {
    color:slategrey;
    background-color: whitesmoke;
    border-style: groove;
    border-color: black;
    max-height: 500px;
}

.navbar a::after{
    color:white;
    background-color: black;
    font-size: 1.5em;
    margin-bottom: 100%;
    transform:scaleX(0);
    transition:transform 0.5s;
    content: '';
}

.navbar a {
    margin-bottom: 100%;
    color:yellow;
    background-color: black;
    font-size: 1.1em;
    margin-left: 20px;
}

.box {
    width:400px;
    color:black;
    position:absolute;
}


body{
    display:flex;
    min-height:100vh;
    background:url('background.jpg') no-repeat;
    background-position:center;
    background-size: cover;
}

img {
    border:none;
    width:300px;
    height:300px;
    align-self: center;
    margin-right: 800px;
    margin-left: 0px;
    margin-bottom: 200px;

}

body h1{
    margin-top:50px;
}