p {
    color:slategrey;
    background-color: whitesmoke;
    border-style: groove;
    border-color: black;
}

.navbar {
    position:relative;
    margin-bottom: 70%;
}

.box {
    width:400px;
    color:black;
    position:absolute;
}


body{
    display:flex;
    justify-content:center;
    align-items:center;
    min-height:100vh;
    background:url('background.jpg') no-repeat;
    background-position:center;
    background-size: cover;
}

img {
    border:none;
    width:300px;
    height:300px;

}