.boxBronze {
    width:200px;
    height:200px;
    background:burlywood;
    position:relative;
    bottom:50%;
    left:30%;
    transform: translate(-50%, -30%);
}

.boxSilver {
    width:200px;
    height:200px;
    background:silver;
    position:relative;
    bottom:50%;
    left:50%;
    transform: translate(-50%, -50%);
}

.boxGold {
    width:200px;
    height:200px;
    background:gold;
    position:relative;
    bottom:50%;
    left:70%;
}

body {
    background-color: grey;
}