.boxBronze {
    width:100px;
    color:burlywood;
    position:relative;
    top:40%;
    left:10%;
}

.boxSilver {
    width:100px;
    color:silver;
    position:relative;
    top:40%;
    left:30%;
}

.boxGold {
    width:100px;
    color:gold;
    position:relative;
    top:40%;
    left:50%;
}

body {
    background-color: grey;
}