body {
    background-color: grey;
}

.mycontainer div {
    width:33%;  
    float:left;
}

.mycontainer {
    width:100%;
    overflow:auto;
}

.navbar {
    position:relative;
}

.box {
    width:400px;
    color:black;
    position:absolute;
}

